{% extends 'base.html.twig' %}

{% block title %}Mon compte - Boucherie Paux{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin"> - Vous êtes un administrateur, accéder au backoffice ?</a></small><br>
    {% endif %}
    Bienvenue {{ app.user.firstname }} dans votre compte.<br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-12">
                <a href="{{ path('admin') }}">
                    <div class="account-item btn-danger text-center">
                        Administration
                    </div>
                </a>
            </div>
        {% endif %}

        <div class="col-md-4 my-2">
            <a href="{{ path('account_update', {'id' : app.user.id } ) }}">
                <div class="account-item btn-warning text-center">
                    Modifier mes infos
                </div>
            </a>
        </div> 

        <div class="col-md-4 my-2">
            <a href="{{ path('account_order') }}">
                <div class="account-item btn-warning text-center">
                    Suivre mes commandes
                </div>
            </a>
        </div>

        <div class="col-md-4 my-2">
            <a href="{{ path('account_password') }}">
                <div class="account-item btn-warning text-center">
                    modifier mon mot de passe
                </div>
            </a>
        </div>
    </div>
    <hr>

{% endblock %}
