 {% extends '@EasyAdmin/page/content.html.twig' %}





{% block main %}

   <p class="mb-5">{{ ea.dashboardTitle }}</p>

<div class="container">
   <h3 class="text-center">Liste d'ingrédients provisionnelle</h3>
    <div class="col-8 mx-auto mt-4 mb-5 bg-dark p-2 border border-warning rounded">
        <table class="table text-light text-center ">
            <thead class="text-warning">
                <tr >
                    <th scope="col">🧃 Ingrédient 🧃</th>
                    <th scope="col">⚖️ Quantité ⚖️</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in newList %}
                    {% if ingredient.qtDef > 0 %}
                        <tr>
                            <td class="fw-bold">{{ingredient.name}}</td>
                            <td> x {{ingredient.qtDef}} {{ingredient.measure}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for produit in listeProduitsRéférencés %}
                    {% if not produit.ingdtsList and produit.qt != 0 %}
                        <tr>
                            <td class="fw-bold">{{produit.name}}</td>
                            <td> x {{produit.qt}}</td>
                        </tr>
                    {% endif %}
                    
                {% endfor %}

            </tbody>
        </table>
    </div>
   
   
      
         
        
</div>
     
    
   
        



{% endblock %}
