{% extends 'base.html.twig' %}

{% block title %}Nos produits - Boucherie Paux{% endblock %}

{% block content %}
    <h1>Nos produits</h1>
    
    <div class="container-product">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}

                <div class="col">
                <a href="" data-bs-toggle="modal" data-bs-target="#test{{product.id}}">
                    <div class="card bg-dark card-custom">
                        <img src="/uploads/{{product.illustration}}" class="card-img-top img-custom" alt="{{product.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <h6>{{product.subtitle}}</h6>
                            <p class="card-text"><small class="text-muted">{{(product.price/100)|number_format(2,',','.')}}€</small></p> 
                          
                        </div>
                    </div>
                  </a>
                </div>

<!-- Modal -->
<div class="modal fade" id="test{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-dark">
      <div class="m-3">
      <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="title-custom text-center" id="exampleModalLabel">{{product.name}}</h5>
        

    

        
      </div>
      <div class="modal-body">
      <img src="/uploads/{{product.illustration}}" class="card-img-top img-custom" alt="{{product.name}}">
        {{product.description}}
      </div>
      <div class="modal-footer">
      <div class=" mx-auto">
              <button type="button" class="btn btn-primary">Ajouter au panier</button>
              </div>
      </div>
    </div>
  </div>
</div>

            {% endfor %}
        </div>
    </div>

 

{% endblock %}
