<style>
table {
    border: solid 1px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto
}
table thead th {
    background-color: grey;
    border: solid 1px;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}
table tbody td {
    border: solid 1px;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}
</style>
<h1>Facture - Boucherie Paux</h1>
{{user.firstname}} {{user.lastname}}
<br>
{{user.email}}    
<br>
    <h2>Ma commande n°{{ order.reference }} :</h2>
    <hr>
    <strong>Statut de la commande :</strong>
        {% if order.state == 1 %}
            Payment accepté
        {% elseif order.state == 2 %}
            Préparation en cours
        {% elseif order.state == 3 %}
            Livraison en cours
        {% endif %} <br>
    <strong>Commande passée le :</strong>{{ order.createdAt|date('d/m/Y') }} <br>
    <strong>Référence de ma commande :</strong><small>{{ order.reference }}</small>
    <hr>
    <strong>Détails :</strong>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Produit Unitaire</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
            <tr>
                <td>{{ product.product }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ (product.price / 100)|number_format(2, ',', '.') }}€</td>
                <td>{{ (product.total / 100)|number_format(2, ',', '.') }}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
            <strong>Total : </strong>{{ (order.getTotal /100)|number_format(2, ',', '.') }} €
    </div>
