{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}>Payement de ma commande - La Boutique Française{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commandes.</p>
    <p>Votre commande sera disponible à partir du {{ delivery_date|format_datetime('full', 'none', locale='fr') }}</p>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <b>Ma commande</b><br>
            </div>
            <div class="order-summary">
            {% set total = null %}
                {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-md-3">
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px">
                    </div>
                    <div class="col-md-7 my-auto">
                        {{ product.product.name }} <br>
                        <small>
                            {{ product.product.subtitle }} <br>
                            x {{ product.quantity }}
                        </small>
                    </div>
                    <div class="col-md-2 my-auto">
                        {{ (product.product.price * product.quantity / 100) |number_format(2, ',', '.') }} €
                    </div>
                </div>
                {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}                
            </div>

            
            <hr>
            <strong>Total : </strong> {{ (total / 100) |number_format(2, ',', '.') }} € <br>
            {# <a href="" class="btn btn-success btn-block mt-3">Payer {{ (total / 100)|number_format(2, ',', '.') }} €</a> #}
            <a href="{{ path('stripe_create_session',{'reference':reference}) }}" class="btn btn-success btn-block mt-3">Payer | {{ (total / 100)|number_format(2, ',', '.') }} €</a>
        </div>
    </div>

{% endblock %}